
services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: cosmetics
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
